body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #0c0c13;
}

/*custom css*/

.Hangman img {
	width: 180px;
	height: 280px;
	margin-top: -50px;
}

.Hangman h1 {
	font-size: 3rem;
	font-weight: 400;
	color: #158cee;
}

.Hangman-navbar {
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	font-size: 18px;
}

.Hangman-navbar p {
	color: #007bff;
}

.Hangman-navbar a {
	color: #f8f9fa;
	text-decoration: none;
}

.center {
	display: flex;
	justify-content: center;
}

.Hangman-word {
	display: flex;
	justify-content: center;
	letter-spacing: 1em;
	margin: -0.4em -1em 0.2em 0;
	font-size: 1.5rem;
	color: #07ffc9;
}

.Hangman-btns {
	text-align: center;
	color: #158cee;
	display: inline-block;
	font-size: 1.5rem;
}
.Hangman button {
	border: none;
	font-family: inherit;
	font-size: 1.5rem;
	cursor: pointer;
	width: 3.3rem;
	margin: 10px 5px 7px 10px;
	letter-spacing: 0px;
	outline: none;
	background: #07ffc9;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	padding: 8px 0 8px 0;
}

.Hangman-buttons {
	text-align: center;
	color: #ffc107;
	margin-top: 24px;
}

.Hangman-reset {
	color: #d6dfdf;
	width: 10rem !important;
	background-color: #07ffc9;
	border-color: #07ffc9;
	margin-bottom: 0;
}

.Hangman button:hover {
	background-color: #fffffa;
}

.Hangman button:disabled {
	color: #d6dfdf;
	background-color: #ff1100;
	border-color: #ff1100;
	box-shadow: 0 0 40px #ff1100;
}
